<a class="links" href="/owners">Animal Owners Homepage.</a>

<h1>Scottish Animal Sanctury</h1>
<h2>Animal name and Admission date</h2>

<% @animals.each do |animal| %>


    <p>Name: <%= animal.animal_name() %></p>
    <p>Animal: <%= animal.animal_type() %></p>
    <p>Admission Date: <%= animal.admin_date() %></p>
    <% if animal.adopt_ready() == "t" %> <span>Is the Animal Adoptable: Yes</span>
    <% end %>
    <% if animal.adopt_ready() == "f" %><span>Is the Animal Adoptable: No</span>
    <% end %>
    <p><a href="/animals/<%= animal.id %>">More information</a></p>
    <hr>

    <!-- form with dropdown to select owner here  -->


<% end %>
