<h3 class="green">Congratulations, you have sucessfully added to the Animal Sanctuary Database.</h3>
<div class="left">
<a class="links" href="/animals">Return To Animal Sanctury Home Page</a>
</div>
