<%# Add owners list here for the adoption page, existing owners below: %>

<a class="links" href="/animals">Return To Animal Sanctury Home Page</a>
<h2>Animal Owners Homepage</h2>

<!DOCTYPE html>
<html>
<body>
<nav>
  <ul>
        <a href="/owners/new">Add new owners here</a>
  </ul>
</nav>
</body>
</html>


<h3>List of owners registered on the Scottish Sanctuary Database</h3>

  <% @owners.each do |owner| %>
    <p>First name: <%= owner.first_name() %></p>
    <p>Last name: <%= owner.last_name() %></p>
  <a href="/owners/<%= owner.id%>/delete">Delete owner</a>
  <hr>
  <% end %>
