<form method="post" action="/animals">
  <label for="first-name-field">Animal Name:</label>
  <input
  type="text"
  name="animal_name"
  id="animal-name-field"
  />

  <label for="animal-type-field">Animal Type:</label>
  <input
  type="text"
  name=""
  id="last-name-field"
  />


  <label for="owner_select">Select Owner:</label>
  <select name="owner_id" id="owner_select">

    <!-- 'animal_name' => 'Billy',
    'animal_type' => 'Cat',
    'admin_date' => '05Jan17',
    'adopt_ready' => true,
    'owner_id' => nil}) -->
